@font-face{
    font-family: 'Badaboum';
    src: url('../polices/BADABB.TTF')  format('truetype');
}

@font-face{
    font-family: 'Brandon_grotesque';
    src: url('../polices/AronGrotesque-regular.ttf') format('truetype');
}

#bloc-page{
    margin: 0 auto;
}

#header{
    display: flex;
    height: 100px;
    background-color: #02407b;
}

#logo{

    font-family: 'Badaboum';
    font-size: 3em;
    color: #fff;
    padding: 20px 0 0 25px; 
}

#user{

    font-family: 'Badaboum';
    font-size: 2em;
    color: #02407b;
    padding: 20px 0 0 25px; 
}

#logo a{
    text-decoration: none;
    color: white;
}

#logo a:hover{
    color: #ff9966;
}

#espace{
    display: flex;
    flex: 1;
}

#ensemble_header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 40px;

}

#ensemble_header a{
    text-decoration: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1 em;
}

#ensemble_header a:hover{
    color: #ff9966;
    font-family: 'Open Sans', sans-serif;
}

.login{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.panier{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}
#panier{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}
#panier-container{
    display: flex;
    min-height: 500px;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
}
#section{
    display: flex;
    min-height: 500px;
    flex-direction: row;
}

#sidebar{
    display: flex;
    width: 25%;
    background-color: #FFF;
    border-right-style: dotted;
    border-right-color: #999999;
    border-width: 2px;
    flex-direction: column;
}

#catalogue{
    width: 75%;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.un{
    color : #E34714;
    font-family: 'Brandon_grotesque';
    font-size: 1em;
    text-transform: uppercase;
    list-style-type: none;
    text-decoration: none;
}

.un a:hover{
    color : #E34714;
    font-family: 'Brandon_grotesque';
    font-size: 1em;
    text-transform: uppercase;
    list-style-type: none;
    text-decoration: none;
}
.un a{
    color : #E34714;
    font-family: 'Brandon_grotesque';
    font-size: 1em;
    text-transform: uppercase;
    list-style-type: none;
    text-decoration: none;
}

.deux{
    color : #000;
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    font-size: 0.9em;
    margin-left: 10px;
    list-style-type: none;
    text-decoration: none;
    padding-left: -10px;
}

.deux a{
    color : #000;
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    font-size: 0.9em;
    margin-left: 10px;
    list-style-type: none;
    text-decoration: none;
    padding-left: -10px;
}

.deux a:hover{
    color : #000;
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    font-size: 0.9em;
    margin-left: 10px;
    list-style-type: none;
    text-decoration: none;
    padding-left: -10px;
}

#footer{
    display: flex;
    height: 100px;
    background-color: #02407b;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#footer p{


    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.6em;
    font-style: normal;


}

h1{
    color : #E34714;
    font-family: 'Brandon_grotesque';
    font-size: 2em;
    list-style-type: none;

}

.date{
    font-size: 1.5em;
    color :green;

}

.nomclient{
    color :  coral;
}

.imageflottante{
    float: right;
}

.eveDescription{
    font-size: 1.6em;
    color :  blue;

}

.dessous { 
    clear: both;
}